body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:aliceblue;
  width: 80ch;
  margin: auto;
}
.legend{
  text-align: center;
}
.label{
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

input[type=text], [type=email], [type=date], [type=number]{
  border: 2px solid black;
}
input[type=submit]{
  border: 2px solid black
}